:root {
    /*Tipografia*/
    --raleway: "Raleway", sans-serif;

    /***Colores***/
    --azulito: #2196F3;
    --oscuro: #212121;
    --grisClaro: #757575;
    --oscuroClaro: #2F303A;
    --claro: #FFFFFF;
}
/**************** Generales ***************************/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-size: 16px; /***** 10px = 1rem****/
    font-family: "Roboto", sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;/*****hack para arreglar box*****/
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1{
    font-size: 4.4rem;
}
h2{
    font-size: 3.6rem;
}
h1,
h2,
h3 {
    text-align: center;
}

/*------------------------------------- Utilidades ------------------------------*/
.flex {
    display: flex;
}
.alinear {
    justify-content: center;
}

/***************** Navegacion ************************/
.navegacion_principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.navegacion_webstudio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navegacion_webstudio_logo {
    font-family: var(--raleway);
    font-weight: bold;
    color: var(--azulito);
    font-size: 2.6rem;
    width: 15rem;
    height: 3rem;
}
.navegacion {
    display: flex;
    justify-content: space-between;
}
.navegacion_celda2 {
    grid-column: 2;
}
.navegacion_celda3 {
    grid-column: 4;
}
.navegacion a {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.6rem;
    margin-top: 3.4rem;
    color: var(--oscuro);
}
.navegacion a:hover {
    color: var(--azulito);
}
.navegacion_a3 {
    display: flex;
    justify-content: space-between;
}
.navegacion_a3 a {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.6rem;
    margin-top: 3.4rem;
    color: var(--grisClaro);
}
.navegacion_a3 a:hover {
    color: var(--azulito);
}

/*----------------------- Header -----------------------------*/
.header {
    max-width: 0 auto;
    background-color: var(--oscuroClaro);
    height: 60rem;
}
.header h1 {
    font-weight: 900;
    line-height: 6rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--claro);
    padding-top: 22rem;
    display: flex;
    justify-content: center;
}
.header_boton {
    background-color: var(--azulito);
    border-radius: 0.4rem;
    color: var(--claro);
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
    height: 5rem;
    width: 26rem;
    margin-top: 3rem;
    cursor: pointer;
}

/*--------------------- Actividades ----------------------------------------*/
.actividades_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    margin-top: 5rem;
}
.actividad {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.6rem;
    color: var(--oscuro);
}
.actividad_des {
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--grisClaro);
}

/*------------------------------ A que nos dedicamos ----------------------------*/
main h2 {
    font-weight: bold;
    line-height: 4.2rem;
    color: var(--oscuro);
}

